.content {

}

.cent {
    padding-bottom: 500px;
    font-family: 'Bungee Shade', cursive;
    font-size: 10em;
}

.love {
    font-size: 7em;
}

h1 {
    font-family: 'Comfortaa', cursive;
    font-family: 'Libre Caslon Text', serif;
    font-family: 'Marck Script', cursive;
    font-size: 15em;
    padding-top: 300px;
}

body {
    background: linear-gradient(#6f83d6, #2c3282);
    background-repeat: no-repeat;
    text-align: center;
}
